*{ margin: 0; padding: 0; font-family: "Segoe UI";}
body{ overflow: hidden; }
ul, ul li{ list-style: none; }

@font-face {
    font-family: "cursiva";
    src: url(cursiva.ttf) format("truetype");
}

#wrapper{
	min-height: 100%;
	overflow-x: hidden;
	position: relative;
}

#header{
	min-width: 100%;	
	overflow: hidden;
	background: url("img/brickwall.png") repeat;
}

#header-content{
	height: 20%;
	padding: 20px;
}

#logo{
	float: left;
	text-align: center;
	width: 600px;
	margin-left: 60px;
}

#logo img{width: 300px;}

#group-info{
	float: right;
	text-align: left;
	margin-right: 60px;
}

.group-member{ padding: 5px; overflow: auto;}
.member-info{ float: left; padding: 10px 10px 10px 10px}
.member-photo{ float: left;}
.member-photo img{ border-radius: 100%; width: 60px;}

#menu-principal{
	width: 100%;
	background-color: #000;
	color: #fff;
	padding-left: 15%;
	overflow: hidden;
	clear: both;
}

#menu-principal ul{
	list-style: none;
	padding: 2px 0px 10px 0px;
}

#menu-principal ul li{
	display: inline;
	font-weight: bold;
	padding: 15px 40px 15px 40px;
	cursor: pointer;
	height: auto;
}

#menu-principal ul li img{ 
	width: 30px; 
	padding: 0px 8px 0px 0px;
	position: relative;
	top: 8px;
}

#menu-principal ul li:last-child{
	border-right: none;
}

#menuop-user{ background: #f00; }
#menuop-file{ background: #00f; }
#menuop-host{ background: #00a118; }
#menuop-presentation{ background: #F5E900; }

#main{
	position: relative;
	padding-bottom: 40px;
	overflow: auto;
	width: 100%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

#submenu{
	width: 15%;
	color: white;
	float: left;
	background: url(img/tweed.png) repeat;
}

#content{
	overflow-y: scroll;
	width: 85%;
	float: left;
}

#submenu ul{
	list-style: none;
	margin: 20px 15px;
}

#submenu ul li:nth-child(odd){
	padding: 2px;
	font-size: 15pt;
	color: #46e3ff;
}

#submenu ul li:nth-child(even){
	padding: 5px;
	font-size: 12pt;
}

#add-button{
	cursor: pointer;
	float: left;
	font-size: 20px;
	display: none;
	padding: 3px 8px 5px 8px;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	overflow: hidden;
	background: #000;
	color: #fff;
	text-align: center;
}
#footer-msg { font-size: 25px; font-family: "cursiva";}

/* ---------------------------------------------- */
/** Forms                                        **/
/* ---------------------------------------------- */

.add-form{
	display: none;
	padding: 20px 20px 20px 20px;
	background: #000;
	color: #fff;
}
.add-form h2{ font-size: 18px; }
.add-form input{ margin-right: 20px; }

button#submit{
	border: 0;
	outline: none;
	background: #33E7FF;
	color: white;
	padding: 3px 15px;
	margin: 10px 10px 4px 0px;
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
	display: inline-block; /* needed for anchors */
	position: relative;
	transition: ease all 0.1s;
	cursor: pointer;
	box-shadow: 1px 0px #007E8F, 0px 1px #00B4CC,
				2px 1px #007E8F, 1px 2px #00B4CC,
				3px 2px #007E8F, 2px 3px #00B4CC,
				4px 3px #007E8F, 3px 4px #00B4CC,
				5px 4px #007E8F, 4px 5px #00B4CC,
				6px 5px #007E8F, 5px 6px #00B4CC;
}

button#submit:hover{
	transform: translate(2px, 2px);
	-webkit-transform: translate(2px, 2px);
	-moz-transform: translate(2px, 2px);
	-o-transform: translate(2px, 2px);
	box-shadow: 1px 0px #007E8F, 0px 1px #00B4CC,
				2px 1px #007E8F, 1px 2px #00B4CC,
				3px 2px #007E8F, 2px 3px #00B4CC,
				4px 3px #007E8F, 3px 4px #00B4CC;
}

button#submit:active{
	transform: translate(4px, 4px);
	-webkit-transform: translate(4px, 4px);
	-moz-transform: translate(4px, 4px);
	-o-transform: translate(4px, 4px);
	box-shadow: 1px 0px #007E8F, 0px 1px #00B4CC,
				2px 1px #007E8F, 1px 2px #00B4CC;
}

.finder{
	width: 100%;
	height: 100%;
	font-size: 18px;
	border: none;
	outline: 0;
}

.delete-button{	opacity: 0.6; cursor: pointer;}
.delete-button:hover{ opacity: 1; }

#newfolder-input{display: none;}

.push-left{ float:left; }

/* ---------------------------------------------- */
/* ------------- File System -------------------- */
.button-file{
	background: #46e3ff;
}


/* ---------------------------------------------- */
/* --------------- TABLES ----------------------- */

.search-bar{ border-collapse: collapse;	width: 100%; }
.img-td{ width: 2%; }
.table{	width: 100%; border-collapse: collapse; }

#file-system thead th{
	background: #000;
	color: #fff;
	text-align: left;
}


.table tr{ transition: ease all 0.5s; }
.table tr:nth-child(odd){ background: #cccccc; }
.table tr:hover{ background: #D4E8E3; }
.table tr td{	padding: 3px; }
.table tr td:nth-child(1){
	padding: 3px 10px 3px 10px;
	width: 5%;
}

/* ---------------------------------------------- */
/* --------------- LOADER ----------------------- */

#loader{
	position:relative;
	width:62px;
	height:77px;
	display: none;
}

.blockG{
	position:absolute;
	background-color:#FFFFFF;
	width:10px;
	height:24px;
	-moz-border-radius:8px 8px 0 0;
	-moz-transform:scale(0.4);
	-moz-animation-name:fadeG;
	-moz-animation-duration:1.3599999999999999s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:linear;
	-webkit-border-radius:8px 8px 0 0;
	-webkit-transform:scale(0.4);
	-webkit-animation-name:fadeG;
	-webkit-animation-duration:1.3599999999999999s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:linear;
	-ms-border-radius:8px 8px 0 0;
	-ms-transform:scale(0.4);
	-ms-animation-name:fadeG;
	-ms-animation-duration:1.3599999999999999s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-direction:linear;
	-o-border-radius:8px 8px 0 0;
	-o-transform:scale(0.4);
	-o-animation-name:fadeG;
	-o-animation-duration:1.3599999999999999s;
	-o-animation-iteration-count:infinite;
	-o-animation-direction:linear;
	border-radius:8px 8px 0 0;
	transform:scale(0.4);
	animation-name:fadeG;
	animation-duration:1.3599999999999999s;
	animation-iteration-count:infinite;
	animation-direction:linear;
}

#rotateG_01{
	left:0;
	top:28px;
	-moz-animation-delay:0.51s;
	-moz-transform:rotate(-90deg);
	-webkit-animation-delay:0.51s;
	-webkit-transform:rotate(-90deg);
	-ms-animation-delay:0.51s;
	-ms-transform:rotate(-90deg);
	-o-animation-delay:0.51s;
	-o-transform:rotate(-90deg);
	animation-delay:0.51s;
	transform:rotate(-90deg);
}

#rotateG_02{
	left:8px;
	top:10px;
	-moz-animation-delay:0.6799999999999999s;
	-moz-transform:rotate(-45deg);
	-webkit-animation-delay:0.6799999999999999s;
	-webkit-transform:rotate(-45deg);
	-ms-animation-delay:0.6799999999999999s;
	-ms-transform:rotate(-45deg);
	-o-animation-delay:0.6799999999999999s;
	-o-transform:rotate(-45deg);
	animation-delay:0.6799999999999999s;
	transform:rotate(-45deg);
}

#rotateG_03{
	left:26px;
	top:3px;
	-moz-animation-delay:0.85s;
	-moz-transform:rotate(0deg);
	-webkit-animation-delay:0.85s;
	-webkit-transform:rotate(0deg);
	-ms-animation-delay:0.85s;
	-ms-transform:rotate(0deg);
	-o-animation-delay:0.85s;
	-o-transform:rotate(0deg);
	animation-delay:0.85s;
	transform:rotate(0deg);
}

#rotateG_04{
	right:8px;
	top:10px;
	-moz-animation-delay:1.02s;
	-moz-transform:rotate(45deg);
	-webkit-animation-delay:1.02s;
	-webkit-transform:rotate(45deg);
	-ms-animation-delay:1.02s;
	-ms-transform:rotate(45deg);
	-o-animation-delay:1.02s;
	-o-transform:rotate(45deg);
	animation-delay:1.02s;
	transform:rotate(45deg);
}

#rotateG_05{
	right:0;
	top:28px;
	-moz-animation-delay:1.19s;
	-moz-transform:rotate(90deg);
	-webkit-animation-delay:1.19s;
	-webkit-transform:rotate(90deg);
	-ms-animation-delay:1.19s;
	-ms-transform:rotate(90deg);
	-o-animation-delay:1.19s;
	-o-transform:rotate(90deg);
	animation-delay:1.19s;
	transform:rotate(90deg);
}

#rotateG_06{
	right:8px;
	bottom:7px;
	-moz-animation-delay:1.3599999999999999s;
	-moz-transform:rotate(135deg);
	-webkit-animation-delay:1.3599999999999999s;
	-webkit-transform:rotate(135deg);
	-ms-animation-delay:1.3599999999999999s;
	-ms-transform:rotate(135deg);
	-o-animation-delay:1.3599999999999999s;
	-o-transform:rotate(135deg);
	animation-delay:1.3599999999999999s;
	transform:rotate(135deg);
}

#rotateG_07{
	bottom:0;
	left:26px;
	-moz-animation-delay:1.5299999999999998s;
	-moz-transform:rotate(180deg);
	-webkit-animation-delay:1.5299999999999998s;
	-webkit-transform:rotate(180deg);
	-ms-animation-delay:1.5299999999999998s;
	-ms-transform:rotate(180deg);
	-o-animation-delay:1.5299999999999998s;
	-o-transform:rotate(180deg);
	animation-delay:1.5299999999999998s;
	transform:rotate(180deg);
}

#rotateG_08{
	left:8px;
	bottom:7px;
	-moz-animation-delay:1.7s;
	-moz-transform:rotate(-135deg);
	-webkit-animation-delay:1.7s;
	-webkit-transform:rotate(-135deg);
	-ms-animation-delay:1.7s;
	-ms-transform:rotate(-135deg);
	-o-animation-delay:1.7s;
	-o-transform:rotate(-135deg);
	animation-delay:1.7s;
	transform:rotate(-135deg);
}

@-moz-keyframes fadeG{
	0%{	background-color:#33E7FF}
	100%{ background-color:#FFFFFF}
}

@-webkit-keyframes fadeG{
	0%{background-color:#33E7FF}
	100%{background-color:#FFFFFF}
}

@-ms-keyframes fadeG{
	0%{background-color:#33E7FF}
	100%{background-color:#FFFFFF}
}

@-o-keyframes fadeG{
	0%{background-color:#33E7FF}
	100%{background-color:#FFFFFF}
}

@keyframes fadeG{
	0%{background-color:#33E7FF}
	100%{background-color:#FFFFFF}
}

