*{ margin: 0; padding: 0; font-family: "Segoe UI";}
html{ height: 100%; }
body{ overflow: hidden; height: 100%; }
ul, ul li{ list-style: none; }

@font-face {
    font-family: "cursiva";
    src: url(cursiva.ttf) format("truetype");
}

#wrapper{
	min-height: 100%;
	overflow-x: hidden;
	position: relative;
}

#header{
	min-width: 100%;	
	overflow: hidden;
	background: url("img/brickwall.png") repeat;
}

#header-content{
	height: 20%;
	padding: 20px;
}

#logo{
	float: left;
}

#logo img{width: 300px;}

#group-info{
	float: right;
	text-align: left;
	margin-right: 60px;
}

.group-member{ padding: 5px; overflow: auto;}
.member-info{ float: left; padding: 10px 10px 10px 10px}
.member-photo{ float: left;}
.member-photo img{ border-radius: 100%; width: 60px;}

#menu-principal{
	width: 100%;
	background-color: #000;
	color: #fff;
	padding-left: 15%;
	overflow: hidden;
	clear: both;
}

#menu-principal ul{
	list-style: none;
	padding: 2px 0px 10px 0px;
}

#menu-principal ul li{
	display: inline;
	font-weight: bold;
	padding: 15px 40px 15px 40px;
	cursor: pointer;
	height: auto;
}

#menu-principal ul li img{ 
	width: 30px; 
	padding: 0px 8px 0px 0px;
	position: relative;
	top: 8px;
}

#menu-principal ul li:last-child{
	border-right: none;
}

#menu-principal ul li:hover{
	-webkit-box-shadow: inset 0 1px 4px rgba(1, 1, 1, 0.6);
	-moz-box-shadow: inset 0 1px 4px rgba(1, 1, 1, 0.6);
	box-shadow: inset 0 1px 4px rgba(1, 1, 1, 0.6);
}
#menu-principal ul li:active{ background: #ccc;}


#main{
	position: relative;
	padding-bottom: 40px;
	overflow: auto;
	width: 100%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

/* =============== SUBMENU ================== */

#submenu{
	width: 15%;
	position: fixed;
	color: white;
	background: #000;
	height: 100%;
}

#content{
	overflow-y: auto;
	width: 85%;
	position: fixed;
	left: 15%;
}

#submenu ul{
	list-style: none;
	margin: 20px 15px;
}

#submenu ul li{ padding: 2px; font-size: 10pt;}
#submenu ul li img{ width: 15px;}
#submenu ul li.bigblue{
	padding: 2px;
	font-size: 15pt;
	color: #46e3ff;
}

#submenu #separator{ border-color: #46e3ff; }

#add-button{
	cursor: pointer;
	float: left;
	font-size: 20px;
	display: none;
	padding: 3px 8px 5px 8px;
}

#footer {
	background-color: #000;
	color: #fff;
	width: 100%;
	height: 100%;
	max-height: 40px;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
}
#footer-msg { font-size: 25px; font-family: "cursiva";}

/* ---------------------------------------------- */
/** Forms                                        **/
/* ---------------------------------------------- */

.add-form{
	display: none;
	padding: 20px 20px 20px 20px;
	background: #000;
	color: #fff;
}
.add-form h2{ font-size: 18px; }
.add-form input{ margin-right: 20px; }

button.submit{
	border: 0;
	outline: none;
	background: #33E7FF;
	color: white;
	padding: 3px 15px;
	margin: 10px 10px 4px 0px;
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
	display: inline-block; /* needed for anchors */
	position: relative;
	transition: ease all 0.1s;
	cursor: pointer;
	box-shadow: 1px 0px #007E8F, 0px 1px #00B4CC,
				2px 1px #007E8F, 1px 2px #00B4CC,
				3px 2px #007E8F, 2px 3px #00B4CC,
				4px 3px #007E8F, 3px 4px #00B4CC,
				5px 4px #007E8F, 4px 5px #00B4CC,
				6px 5px #007E8F, 5px 6px #00B4CC;
}

button.submit:hover{
	transform: translate(2px, 2px);
	-webkit-transform: translate(2px, 2px);
	-moz-transform: translate(2px, 2px);
	-o-transform: translate(2px, 2px);
	box-shadow: 1px 0px #007E8F, 0px 1px #00B4CC,
				2px 1px #007E8F, 1px 2px #00B4CC,
				3px 2px #007E8F, 2px 3px #00B4CC,
				4px 3px #007E8F, 3px 4px #00B4CC;
}

button.submit:active{
	transform: translate(4px, 4px);
	-webkit-transform: translate(4px, 4px);
	-moz-transform: translate(4px, 4px);
	-o-transform: translate(4px, 4px);
	box-shadow: 1px 0px #007E8F, 0px 1px #00B4CC,
				2px 1px #007E8F, 1px 2px #00B4CC;
}

.finder, #folderform-input{
	font-size: 12pt;
	border: none;
	outline: 0;
}

.delete-button{	opacity: 0.6; cursor: pointer;}
.delete-button:hover{ opacity: 1; }

.as-table{ 
	float: none;
	display: table-cell;
	border-collapse: collapse;
	vertical-align: middle;
}

/* ---------------------------------------------- */
/* ------------- File System -------------------- */
#folderform-input, #folderform-button{display: none;}
#files-utils{ display: table; }
#folder-localization{ padding: 0 10px; color: #fff; background: #707070}
#filesystem-local{font: DejaVu Sans Mono, monospace;}

.button-filesystem{
	background: #46e3ff;
	border: none;
	padding: 7px 10px;
	font-size: 14pt;
	cursor: pointer;
	color: #fff;
	transition: ease all 0.5s;
	outline: none;
}

.button-filesystem:active{ background: #009cb8;}

.button-filesystem:hover{
	-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
}

/* ---------------------------------------------- */
/* --------------- Pop-Up ----------------------- */
#pop-back{
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	z-index: 99;
	float: left;
    position: absolute;
	display: none;
}

#pop-container{
	float: left;
    position: relative;
    left: 50%;
	top: 30%;
}

#popup{
	border: 2px solid #46e3ff;
	width: auto;
	float: left;
    position: relative;
    left: -50%;
	top: -30%;
}

#pop-header{
	background: #46e3ff;
	color: #fff;
	font-size: 14pt;
	padding: 2px 5px;
}

#pop-content{
	padding: 15px;
	background: #fff;
}

#pop-close{
	padding: 0 5px;
	float: right;
	cursor: pointer;
}

#pop-close:hover{
	background: #fff;
	color: #46e3ff;
}

/* ---------------------------------------------- */
/* --------------- TABLES ----------------------- */

.search-bar{ border-collapse: collapse; }
.img-td{ width: 2%; }
.table{	width: 100%; border-collapse: collapse; }

#file-system thead th, #users-list thead th{
	background: #000;
	color: #fff;
	text-align: left;
}

#file-system tbody tr td label, #file-system tbody tr td a{ cursor: pointer }
#file-system tbody tr td label:hover{	font-weight: bold; }

.table tr{ transition: ease all 0.5s; }
.table tr:nth-child(odd){ background: #cccccc; }
.table tr:hover{ background: #D4E8E3; }
.table tr td{	padding: 3px; }
.table tr td:nth-child(1){
	padding: 3px 10px 3px 10px;
	width: 5%;
}
